@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #dcdcdc;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    margin: 20px auto;
    gap: 45px;
    background-color: #fff;
    width: 100%;
    max-width: 960px;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.1);
}

.container img{
    width: 50%;
    border-radius: 20px;
    object-fit: cover;
}

.container form{
    width: 50%;
}

.form-control{
    position: relative;
    margin-bottom: 15px;
}

.form-control label{
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.form-control input,
.form-control textarea{
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    transition: border 0.3s;
}
.form-control input:focus {
    border: 2px solid #59007A;
}
button{
    margin-top: 15px;
    width: 100%;
    border: none;
    padding: 10px;
    background-color: #59007A;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease;
}

button:hover{
    background-color: #FF9C2E;
}

.form-control .icon{
    position: absolute;
    right: 10px;
    top: 71%;
    transform: translateY(-50%);
    font-size: 20px;
    color: transparent;
    pointer-events: none;
}

.form-control.success input,
.form-control.success textarea{
    border-color: #29b864dc;
}

.form-control.success .icon{
    color: #28bb65e3;
}

.form-control.error input,
.form-control.error textarea{
    border-color: #e74d3cb0;
}

.form-control.error .icon,
.form-control.error input::placeholder,
.form-control.error textarea::placeholder{
    color: #e74d3cd2;
}

/* Стили для селектора select-menu */
.select-menu {
    position: relative;
    width: 100%;
    margin: 20px auto;
}
.select-menu .options-container {
    overflow-y: auto; 
    border: 1px solid #ddd; 
    border-radius: 8px;
}
.select-menu .select-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    padding: 0 15px;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #ddd;
    cursor: pointer;
    font-size: 14px;
    transition: border 0.3s;
}

.select-menu .select-btn i {
    font-size: 12px;
    transition: transform 0.5s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.247);
    display: none;
    z-index: 1000;
}

.select-menu.active .options {
    display: block;
}

.select-menu .options .option {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #fff;
    transition: background-color 0.3s;
}

.select-menu .options .option:hover {
    background-color: #f2f2f2;
}

.select-menu .options .option i {
    font-size: 25px;
    margin-right: 12px;
}

.select-menu .options .option .option-text {
    font-size: 14px;
    color: #333;
}

select {
    display: none;
}
textarea {
    resize: vertical; 
}
@media screen and (max-width: 920px) {
    
    .container img{
        display: none;
    }

    .container form{
        width: 100%;
    }

}
@media screen and (max-width: 600px) {
    body {
        padding: 15px 15px;
    }
    .container {
        padding: 30px;
    }
}

/* Button styles */
button{
    width: 100%;
    border: none;
    padding: 10px;
    background-color: #59007A;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease;
}

button:hover{
    background-color: #FF9C2E;
}

.button-group {
    display: none;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
}

#button_cancel{
    background-color: #ffffff;
    color: #59007A;
    border: solid 2px;
    border-color: #59007A;
}


/* h2 styles */
h2{
    text-align: center;
    color: #100629;
    font-size: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h2.edit:hover{
    text-decoration: underline;
    cursor: pointer;
}

p.desc{
    margin-bottom: 15px;
}


/* Styles of status */

.status-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.status-btn {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  opacity: .5;
}

.status-bar.choosable .status-btn{
  cursor: pointer;
}

.status-btn.active {
  opacity: 1;
}



.lead { background: #fbbf24; }
.subscribed { background: #4ade80; }
.rejected { background: #f87171; }
